
<nav class="navbar navbar-default navbar-noMargin" style="padding-right:1%">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">ATI</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                 <li>
                  <a href="#home">Home</a>
              </li>
              
                
              <li>
                  <a href="#scale">Skala</a>
              </li>
              <li>
                  <a href="#information">Hintergrund</a>
              </li>
              <li>
                  <a href="#scientist">Forscher</a>
              </li>
              <li>
                  <a href="#developer">Entwickler</a>
              </li>
              <li>
                  <a href="#teacher">Kursleiter</a>
              </li>
              <li>
                  <a href="#authors">Autoren</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#" style="margin-right:2%"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li >
                  <div class="row" style="padding-top:10%">
                  <a href="/toggle"> <img src="<%= __('imageL') %>" >
                    
                        <%= __('toggletext') %>
                        
                    
                  </a>
                 
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>