<nav class="navbar navbar-default navbar-noMargin">
    <!-- brand -->
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ATI</a>
        </div>
        <!-- Elements -->
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Skala</a>
            </li>
            <li>
                <a href="#">Hintergrund</a>
            </li>
            <li>
                <a href="#">Forscher</a>
            </li>
            <li>
                <a href="#">Entwickler</a>
            </li>
            <li>
                <a href="#">Kursleiter</a>
            </li>
            <li>
                <a href="#">Autoren</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-user"></span>Login</a>
            </li>

            <li>
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Deutsch
                                        </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <p>
                            <a class="dropdown-item" href="#">Deutsch</a>
                        </p>
                        <a class="dropdown-item" href="#">English</a>
                    </div>
                </div>
            </li>
        </ul>

</nav>