html {
  height: 100%;
  min-height: 100%;
}

/*color for anchors */

a {
  color: white;
}
/* removes the border which appears after a user clicked on an anchor */
*:focus {
  outline: none;
}
/* color for anchors while hovering */
a:hover {
  color: #c5eff7;
}
/*style iframes */
iframe {
  width: 100%;
  height: 100%;
}
/*style body with hyphens (no wordbreak) */
body {
  height: 100%;
  min-height: 100%;
  color: #223241;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 175%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
}
h4 {
  margin-top: 1%;
}

h4 {
  font-size: 110%;
}
/*fixed header */
header {
  position: fixed;
  top: 0;
  width: 100%;
}
/*style default buttons*/
button {
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  padding: 5px 15px;
}

/*inputs from the type number will look like textfields on Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="radio"] {
  vertical-align: middle;
}
#instructions {
  text-align: justify;
}
#chart {
  height: 25%;
  position: relative;
  z-index: -1;
}
#img-scientist {
  background-image: url("/images/Forscher_Icon.png");
}
#img-developer {
  background-image: url("/images/Entwickler_Icon.png");
}
#img-teacher {
  background-image: url("/images/Kursleiter_Icon.png");
}
#descDef {
  margin-top: -15%;
}
#dontSendData{
  margin-right:2rem;
}
.btn-index-lg {
  width: 100%;
  border-radius: 1rem;
  height: 5.5rem;
}
.vertical-btn {
  vertical-align: middle;
  white-space: nowrap;
}
.separator-div {
  height: 2rem;
}
.white-color {
  color: white;
}
.flex-paper {
  padding-bottom: 4rem;
}
/* format bg-images to fit the size of the container" */
.bg-img-form {
  background-size: cover;
  background-position: center center;
}
/* width/height of the container */
.bg-img-container {
  width: 10em;
  height: 10em;
}
.index-margin-bottom {
  margin-bottom: 3rem;
}
.index-padding-bottom {
  margin-bottom: 2rem;
}
.age-label {
  width: 30%;
}
.container-full-width {
  width: 100%;
}
.neg-marg-top {
  margin-top: -5%;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
/*style the footer */
footer {
  background-color: #344853;
  color: white;
  height: 15%;
  padding-top: 0.75%;
}

/* style the footer*/
footer {
  color: white;
  height: 15%;
  padding-top: 0.75%;
}
/*set the margin left/right for rows in a form */
form .row {
  margin-left: -15px;
  margin-right: -15px;
}

/* labels get 10px margin bottom and top*/
label {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* style the invalid inputs for Firefox */
:-moz-ui-invalid {
  box-shadow: none;
}
#papers {
  padding: 2%;
  background-color: lightgrey;
  margin-top: 2%;
  border-radius: 5px;
  display: none;
  width: 100%;
  height: auto;
}
#userTypes {
  background-color: orange;
  width: 100%;
  height: 20%;
  min-height: 20%;
  max-height: 20%;
  flex: 1;
  overflow-y: auto;
}

/* add margin-bottom to this div */
#scale {
  margin-bottom: 4rem;
}

/*set color of the element what-why-how */
#div-what-why-how {
  color: white;
}

/*themecolor of the site */
.bg-color-theme {
  background-color: #344853;
}

/* mark invalid inputs in form.ejs */
.invalidInput {
  color: rgba(255, 0, 0, 0.9);
}

/* align elements in a table */
.table .alignTD {
  text-align: center;
}
.jumbotron {
  margin-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: lightgrey;
}
/* set the textcolor of the header */
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #c5eff7;
}
/* align an item to the bottom-left of the container */
.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 1%;
}
/* set the color for hovering over the navbaritems*/
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #c5eff7;
  background-color: transparent;
}
/* class for the Image of index.ejs */
.title-screen {
  width: 100%;
  height: auto;
  margin-top: -20px;
}

/*position navbar on the upper edge */
.navbar-noMargin {
  margin-top: 0;
}

/* padding for the elements in WhatHowWhy and WhoWeAre */
.div-padding-min {
  padding-left: 5%;
  padding-right: 5%;
}

/*padding for the container of WhatHowWhy and WhoWeAre */
.div-padding-row {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 7.5%;
  padding-bottom: 7.5%;
}

/*padding for the Scientist/Developer/Teacher divs.*/
.div-padding-row-SDT {
  padding-left: 9.75%;
  padding-right: 9%;
  padding-top: 20rem;
  padding-bottom: 20rem;
}

/*style the Images for the Container 'Scientist/Developer/Teacher' */
.SDT-images {
  margin-top: 1rem;
  width: 12rem;
  height: 12rem;
  margin-right: 2rem;
}

/* Font-Size for the SDT-Text */
.scientist-developer-teacher-text {
  font-size: large;
}
#answerOptions div {
  font-size: 80%;
}

/*style for the div Scale */
.div-scale {
  padding: 1.5%;
  background-color: #e4e4e4;
  margin-bottom: 0.25%;
  width: 35%;
}
/*lightgrey background */
.background-light-grey {
  background-color: #e4e4e4;
}
.dummie-container {
  width: 10%;
}
.dummie-container-md {
  width: 40%;
}
.dummie-container-sm {
  width: 20%;
}
.dumie-container.lg {
  width: 80%;
}
.scale-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.container-header-ati {
  margin-left: 10%;
  margin-top: 4rem;
  width: auto;
}
.container-def-ati {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4rem;
}
.img-title-screen {
  width: 100%;
  height: auto;
}
/* change color if hovered over elements in the navbar */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #c5eff7;
}

/* scales the images of the Scientist/Developer/Teacher */
.scientist-developer-teacher-images {
  max-width: 70%;
  max-height: 70%;
}

/* padding for the images after the title-page */
.imagesPadding {
  margin-top: -3.5%;
}

/*default flexbox with row direction */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

/*default flexbox with column direction */
.flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

/* margin for the container which contains the DL and the form button */
.index-container-margin-bottom-bot {
  margin-bottom: 4rem;
  margin-top: 4rem;
}
/*size for the authos-images */
.author-images {
  max-height: 40%;
  max-width: 40%;
}

/* width of the rows */
.row {
  max-width: 100%;
}
/*flex row with wrap*/
.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

/*button to start the questionnaire or download */
.button-start {
  margin-top: 2rem;
  padding-left: 5%;
  padding-right: 5%;
  height: 5.5rem;
  color: white;
  border-radius: 1rem;
}
/*style the title image */
.title-img {
  background-size: cover;
  background-repeat: no-repeat;
}
/* create rounded Images */
.rounded-img {
  border-radius: 50%;
}
/*width for the token */
.token {
  width: 45%;
}
/*width of the edu-question */
.edu-desc {
  width: 30%;
}
/*background color lightgrey */
.bg-color-lightgrey {
  background-color: lightgrey;
}
/*center an input verticaly */
input[type="radio"] {
  margin-top: auto;
  margin-bottom: auto;
}
/*center element vertical */
.vertical {
  display: flex;
  justify-content: center;
}
/* center elements horizontal */
.horizontal {
  margin-left: auto;
  margin-right: auto;
}
/*margin for the items of education */
.edu-margin {
  margin-top: 3rem;
}
/* answers for the questionnaire are invisible*/
.answer-question-vis {
  display: none;
}
/* mark the description of the invalid input */
.invalid-input {
  color: red;
}
/* set the background of every 2n+1 div to lightfgrey in the questionnaire */
#dempographic-data .container:nth-child(odd),
#questions .row:nth-child(odd) {
  background-color: lightgrey;
}
/* margins for the demographic data sex and age */
#sex,
#age {
  margin-bottom: 1em;
}
/* separator for elements */
.separator {
  border-bottom: 1px solid black;
  width: 100%;
  height: 10px;
  margin: 3rem 0rem;
}
.desc-questions {
  font-size: 90%;
}
/* style labels on the charts */
.ct-label {
  color: black;
}
/*style Bars of the age charts */

#ageChart .ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: rgb(0, 0, 200);
  /* The width of your bars */
  stroke-width: 0.5em;
}

/*style Bars of the default charts */
#sexChart .ct-series-a .ct-bar,
#defaultChart .ct-series-a .ct-bar {
  /* Colour of your bars */
  stroke: rgb(0, 0, 200);
  /* The width of your bars */
  stroke-width: 10em;
  border: 50px solid black;
}
/*style the language icon on the form */
.langImgQuestionnaire {
  height: 10%;
  width: 10%;
}

@media (min-width: 768px) {
  /* >768px screen-width flexbox with column direction */
  .flex-md-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .langImgQuestionnaire {
    height: 30%;
    width: 30%;
  }
  #age-Input{
    width:75px;
  }

  /*move the right element of the navbar to the side */
  .navbar-right-noMargin-right {
    margin-right: -7em;
  }
  .second-elem-education {
    width: 35%;
    padding-left: 0%;
  }
  /* scale the image to change the language screen-width > 480px*/
  .langImg {
    width: 10%;
    height: 10%;
  }
  /* hide answers on the form */
  .ans-vis {
    display: block;
  }
}
@media (max-width: 768px) {
  /* container of the element to change the language. screen-width <768px */
  .li-header-right {
    width: 100%;
    font-size: medium;
  }
  /* width/height of the container */
  .bg-img-container {
    width: 7.5em;
    height: 7.5em;
  }
  #age-Input{
    width:50px;
  }
  /* fixed header for devices with a screenwidth < 768px */
  .fixed-header-top {
    /* margin-bottom: 21.75%;
    position: fixed; */
    /* right: 0;
    left: 0;
    z-index: 1030; */
    padding-right: 0;
    padding-left: 0;
    top: 0;
    border-width: 0 0 1px;
  }

  /* flexbox column screenwidth > 768px */
  .flex-s-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  /*width of the edu-question screenwidth > 768px */
  .edu-desc {
    width: 100%;
  }
  /* flexbox row screenwidth > 768px */
  .flex-s-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  /*negative Margin for the Buttons on smallscreens*/
  /* .btn-s-negMargin {
    margin-bottom: -4rem;
  } */
  .col-xs-txt {
    font-size: 50%;
  }
  /*width for the token on small screens*/
  .token {
    width: 100%;
  }
  .padding-left-s {
    padding-left: 2%;
  }
  .second-elem-education {
    width: 100%;
    margin-left: 0;
  }
  /* visibility of the answers */
  .ans-vis {
    display: none;
  }
  /* visibility of the answers near the radio buttons */
  .answer-question-vis {
    display: inline;
  }

  /*style Bars of the age charts */
  #ageChart .ct-series-a .ct-bar {
    /* Colour of your bars */
    stroke: rgb(0, 0, 200);
    /* The width of your bars */
    stroke-width: 0.25em;
  }
  /* 100% width of buttons */
  .button-xs {
    width: 100%;
  }
  .scale-txt-home-sm {
    width: 60%;
  }
}

@media (max-width: 480px) {
  /*style the Images for the Container 'Scientist/Developer/Teacher' */
  .SDT-images {
    width: 0%;
    height: 0%;
  }
  /* scale the image to change the language screen-width > 480px*/
  .langImg {
    width: 10%;
    height: 10%;
  }
  /*style the language icon on the form */
  .langImgQuestionnaire {
    height: 10%;
    width: 10%;
  }
  /* width/height of the container */
  .bg-img-container {
    width: 5em;
    height: 5em;
  }

  /* flexbox direction column sw < 480 */
  .flex-xs-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  /*style Bars of the charts */
  #sexChart .ct-series-a .ct-bar,
  #defaultChart .ct-series-a .ct-bar {
    /* Colour of your bars */
    stroke: blue;
    /* The width of your bars */
    stroke-width: 1em;
  }
  /*style Bars of the age charts */
  #ageChart .ct-series-a .ct-bar {
    /* Colour of your bars */
    stroke: blue;
    /* The width of your bars */
    stroke-width: 0.2em;
  }
}

@media (min-width: 360px) {
}

@media (min-width: 480px) {
  /* padding for the div which contains the images for the Scientist/Developer/Teacher after the title-page */
  .padding-left-right-SDT {
    padding-left: 15.5%;
    padding-right: 15.5%;
  }

  /* scale the image to change the language screen-width < 768px*/
  .langImg {
    width: 10%;
    height: 10%;
  }
}

@media (min-width: 1200px) {
  /* style the text infront of the title-page. screen-width > 1200px */
  .title-txt {
    padding-top: 7.5%;
    padding-left: 15%;
  }
  /*style buttons of the papers section */
  .btn-papers-md {
    width: 16.6%;
  }
  /* style textcontainer for the papers */
  .paper-param-md {
    width: 75.4%;
    padding-left: 2%;
  }
  /*style Bars of the charts */
  #sexChart .ct-series-a .ct-bar,
  #defaultChart .ct-series-a .ct-bar {
    /* Colour of your bars */
    stroke: rgb(0, 0, 233);
    /* The width of your bars */
    stroke-width: 6em;
  }
  /* set the fontsize for col-md */
  .col-md-txt {
    font-size: 85%;
  }
  /* scale the image to change the language screen-width > 1200px*/
  .langImg {
    width: 10%;
    height: 10%;
  }
  /* >1200px screen-width flexbox with row direction */
  .flex-lg-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  /* padding for the left side if screen-width > 1200px */
  .padding-md {
    margin-left: 7.5%;
  }
  /* container of the element to change the language. screen-width >1200px */
  .li-header-right {
    width: 60%;
  }
  .author-width-md {
    width: 40%;
  }
  /* equal width for the buttons of the index.ejs */
  .button-md {
    width: 17rem;
  }

  /* visibility of the answers near the radio buttons */
  .answer-question-vis {
    display: none;
    height: 0px;
  }
  /* set height for the answers in the questionnaire for width > 1200px */
  .questionaire-height-md {
    height: 3em;
  }
  /*center items*/
  .text-md-center {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
  }
  /*style the language icon on the form */
  .langImgQuestionnaire {
    height: 60%;
    width: 60%;
  }
  /* style iframe */
  .iframe-md {
    width: 100%;
    height: 500px;
  }
}

@media (max-width: 1200px) {
  /*style for the div Scale */
  .div-scale {
    padding: 1.5%;
    background-color: #e4e4e4;
    margin-bottom: 0.25%;
    width: 80%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  /* style iframe */
  .iframe-xs {
    width: 100%;
    height: 200px;
  }

  /* style the text infront of the title-page. screen-width < 1200px */
  .title-txt {
    padding-top: 2rem;
    padding-left: 20rem;
  }
  /*padding for the Scientist/Developer/Teacher divs. Screen-width < 1200px*/
  .div-padding-row-SDT {
    padding-left: 9.75%;
    padding-right: 9%;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  /*style the titleimage */
  .title-screen {
    width: auto;
    height: auto;

    margin-top: -20px;
  }
}

#userDataTable {
  margin: auto;
  width: 50%;
}
.flex-lesser-lg-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
#overviewHeader {
}
.studyIcon {
  max-height: 5%;
  max-width: 5%;
}
.inline {
  display: inline;
}
.searchForm {
  display: inline;
}
.search {
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  /*background-image: url('./images/search_icon.png');*/
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.search:focus {
  width: 65%;
}
.author-margin-xs {
  margin-top: 2rem;
}
.surveyMeta {
  position: relative;
  min-height: 10px;
}
.inlineBlock {
  display: inline-block;
  position: relative;
}
.float-right {
  float: right;
}
.downarrow {
  position: absolute;
  bottom: 10;
  right: 10;
}
