html {
  height: 100%;
  min-height:100%;
 
}
body{
  height: 100%;
  min-height:100%;
}
.navbar-noMargin{
margin-top:0;
}
#userTypes{
  background-color: orange;
  width: 100%;
  height: 20%;
  min-height: 20%;
  max-height:20%;
  flex: 1;
  overflow-y:auto;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
}

.bottomright {position:absolute; bottom:0;  margin-bottom:7px; margin:7px; right: 0;}