html {
  height: 100%;
  min-height:100%;
 
}
a{
  color:white;
}
a:hover{
  color:#C5EFF7;
}
body{
  height: 100%;
  min-height:100%;
  color: #223241;
  text-align: justify;
  font-familiy: "Arial", Helvetica, sans-serif;
}
footer{
  background-color: #344853;
   color:white;
    height:15%;
     padding-top:.75%;
     padding-bottom:auto;
}


#userTypes{
  background-color: orange;
  width: 100%;
  height: 20%;
  min-height: 20%;
  max-height:20%;
  flex: 1;
  overflow-y:auto;
}
#div-what-why-how{
  background: #344853;
  color:white;
}
.bottom-left {position:absolute; bottom:0; left: 0; margin-left: 1%;}
.navbar-noMargin{
  margin-top:0;
  }
.div-padding-min{
  padding-left:5%;
  padding-right:5%;

}
.div-padding-row{
  padding-left:5%;
  padding-right:5%;
  padding-top:7.5%;
  padding-bottom:7.5%
}

.div-padding-row-SDT{
  padding-left:9.75%;
  padding-right:9%;
  padding-top:7.5%;
  padding-bottom:7.5%
}

.scientist-developer-teacher-text{
  font-size:large;  
}
.scale-image{
  margin-top:3%;
  max-height:20%;
  max-width:40%;
  min-height:20%;
  min-height:40%;
  height:20%;
  width:40%;
}
.div-scale{
  padding: 1.5%;
  background-color: #E4E4E4;
  margin-bottom: 0.25%;
}
.background-light-grey{
  background-color: #E4E4E4;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

  color: #C5EFF7;
}
.scientist-developer-teacher-images{
  max-width:60%;
  max-height:60%;
}
.imagesPadding{
  margin-top: -2.5%;
}
.container-flex-scale-def{
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.author-images{
  max-height:40%;
   max-width:40%;
 
 }
 .row{
   max-width:100%;
 }



@media (min-width: 768px) {
.container-flex{
  display:flex;
  flex-direction:column;
  flex-wrap: nowrap;
  justify-content: flex-start;
 
}
.langImg{
  width:10%;
  height:10%;
 }
.padding-xs{
  padding-left:5%;
}
.container-flex-scale{
  display:flex;
  flex-direction:column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  
  margin-bottom:7.5%;

}
.image-for-groups{
  width:10%;
  padding:1%;
}


.container-flex-scale-def{
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height:30%;
  width:100%;
}

}
  
  @media (max-width: 768px){
    b{
      font-size: 50%;
    }
  
    .container-flex-scale-def{
      display:flex;
      flex-direction:row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      height:30%;
      width:100%;
    }
   
     .langImg{
      width:5%;
      height:5%;
     }
     .imgLangSmall{
       padding-left:6%;
     }
   
    
  }

  @media (min-width: 1200px) {
   
     
     .image-for-groups{
      width:20%
    }
    .scale-container{
      margin-top:.5%; 
      height:20%;
    }
    .langImg{
      width:10%;
      height:10%;
     }
    .container-flex-scale-def{
      display:flex;
      flex-direction:row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      height:40%;
      width:100%;
    }
   
    .container-flex{
      display:flex;
      flex-direction:row;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .padding-md{
      margin-left:7.5%;
    }
    .container-flex-scale-def2{
      display:flex;
      flex-direction:row;
      flex-wrap: nowrap;
      justify-content: flex-start; }
    
   
    .container-flex-scale{
      display:flex;
      flex-direction:row;
      flex-wrap: nowrap;
      justify-content: flex-start;
     
      margin-bottom:7.5%;
  }
  
  
 
 
  
  
  
    
    
  }

