html {
  height: 100%;
  min-height:100%;
 
}
body{
  height: 100%;
  min-height:100%;
  color: #223241;
  text-align: justify;
  font-familiy: "Arial", Helvetica, sans-serif;
}
footer{
  background-color: #344853;
   color:white;
    height:15%;
     padding-top:.75%;
     padding-bottom:auto;
}
.navbar-noMargin{
margin-top:0;
}
#userTypes{
  background-color: orange;
  width: 100%;
  height: 20%;
  min-height: 20%;
  max-height:20%;
  flex: 1;
  overflow-y:auto;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row > [class*='col-'] {
	 display: flex;
	 flex-direction: column;
}

.bottom-left {position:absolute; bottom:0; left: 0; margin-left: 1%;}

row.match-my-cols {
  overflow: hidden; 
}

.row.match-my-cols [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.div-padding-min{
  padding-left:5%;
  padding-right:5%;
}

.div-padding-row{
  padding-left:5%;
  padding-right:5%;
  padding-top:7.5%;
  padding-bottom:7.5%
}

.author-images{
  max-height:50%;
  max-width:40%;
  min-height:50%;
  min-width:40%;
  height:50%;
  width:40%;

}

.scientist-developer-teacher-text{
  font-size:large;  
}
/*.scale-text{
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 1.5%;
  background-color: #E4E4E4;

  
}
.scale-buttons{

  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: .5%;
  padding-bottom: 1.5%;
  margin-bottom: 0.25%;
  background-color: #E4E4E4;

} */
.scale-image{
  margin-top:3%;
  max-height:20%;
  max-width:40%;
  min-height:20%;
  min-height:40%;
  height:20%;
  width:40%;
}

.div-scale{
  padding: 1.5%;
  background-color: #E4E4E4;
  margin-bottom: 0.25%;
}

#div-what-why-how{
  background: #344853;
  color:white;
}

.background-light-grey{
  background-color: #E4E4E4;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

  color: #C5EFF7;
}
.scientist-developer-teacher-images{
  width:40%;
  height:40%;
}
.container-flex-scale-def{
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}



@media (min-width: 768px) {
.container-flex{
  display:flex;
  flex-direction:column;
  flex-wrap: nowrap;
  justify-content: flex-start;
 
}
.padding-xs{
  padding-left:5%;
}
.container-flex-scale{
  display:flex;
  flex-direction:column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  
  margin-bottom:7.5%;

}
.image-for-groups{
  width:10%;
  padding:1%;
}

.scientist-developer-teacher-images{
  width:40%;
  height:40%;
}
.container-flex-scale-def{
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height:30%;
  width:100%;
}
}

@media (min-width: 1200px) {
  .container-flex{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .padding-md{
    margin-left:7.5%;
  }
  .container-flex-scale{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: flex-start;
   
    margin-bottom:7.5%;
  
}
.image-for-groups{
  width:20%
}
.scale-container{
  margin-top:.5%; 
  height:20%;
}
.scientist-developer-teacher-images{
      width:55%;
      height:40%;
    }
.scientist-developer-teacher-images{
  width:40%;
  height:40%;
}
.container-flex-scale-def{
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height:40%;
  width:100%;
}

.container-flex-scale-def2{
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content: flex-start; }



  }
  @media (max-width: 768px){
    b{
      font-size: 50%;
    }
    .scientist-developer-teacher-images{
      width:55%;
      height:40%;
    }
    .container-flex-scale-def{
      display:flex;
      flex-direction:row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      height:40%;
      width:100%;
    }
  }

