textarea {
  max-width: 100%;
}

#surveyOverview {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
}

#surveyOverview p {
  padding-left: 30px;
}

#overviewHeader {}

.study-icon {
  max-height: 5%;
  max-width: 5%;
}

.inline {
  display: inline;
}

.search-form {
  display: inline;
}

.search {
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  /*background-image: url('./images/search_icon.png');*/
  background-position: 7px 7px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-size: 2.3em 2.3em;
}

.search:focus {
  width: 65%;
}

#overview-header {
  padding: 20px 15px 20px 25px;
}

.inline-block {
  display: inline-block;
  position: relative;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.downarrow {
  position: absolute;
  bottom: 10;
  right: 10;
}

.nested-container {
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}

.text-item-descr {
  display: inline-block;
  min-width: 155px;
}

.grey {
  color: grey;
}

#userDetails {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
  padding-top: 3%;
  margin-bottom: 5%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


#expiration{
  display: none;
}
#limitedUses{
  display: none;
}
#linkDisplay{
  display: none;
}
#newLinkSettings{
  padding-bottom: 30px;
}
#newLinkInputs{
  display: none;
}
