
<%- include ./partials/head %>
<title>ATI/Profil</title>
</head>


<body>
  <header>
    <%- include ./partials/header %>
  </header>

   <center>
      <h1>Login</h1>

      <div class="container row">
         <div class="jumbotron col-sm-4 pull-center">
            <form action="/login" method="post">
               <div>
                  <label>EMail:</label>
                  <input type="email" name="email" required/>
               </div>
               <div>
                  <label>Password:</label>
                  <input type="password" name="password" required/>
               </div>
               <p><%= messageA %></p>
               <div>
                  <input class="btn btn-primary" type="submit" value="Log In"/>
               </div>
            </form>
         </div>
      </div>

      <h1>Or Sign up </h1>

      <div class="container row">
         <div class="jumbotron col-sm-4 pull-center">
            <form action="/login" method="post">
              <div>
                <label>Name</label>
                <input type="text" name="newName" required/>
              </div>
               <div>
                  <label>EMail:</label>
                  <input type="email" name="newEmail" required/>
               </div>
               <div>
                  <label>Password:</label>
                  <input type="password" id="pw1" name="newPassword" required required oninput="checkPW()"/>
               </div>
               <div>
                  <label>Confirm Password:</label>
                  <input type="password" id="pw2" name="newPasswordConf" required oninput="checkPW()"/>
               </div>
               <p><%= messageB %></p>
               <div>
                  <input class="btn btn-primary" type="submit" value="Create"/>
               </div>
            </form>
         </div>
      </div>

   </center>


   <script language='javascript' type='text/javascript'>

   // A small script to notify tne user if passwords don't match up.
   function checkPW() {
     var lblPW2 = document.getElementById('pw2'),
         lblPW1 = document.getElementById('pw1');

     if (lblPW2.value != lblPW1.value) {
        lblPW2.setCustomValidity('Password Must be Matching.');
     } else {
        // input is valid -- reset the error message
        lblPW2.setCustomValidity('');
     }

     if (lblPW1.value.length < 8) {
       lblPW1.setCustomValidity('Password Must at least be 8 characters.');
     } else {
       lblPW1.setCustomValidity('');
     }
    }
   </script>
</body>
