<!--<%- include ./partials/head %>-->

<head lang="en">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">

  <link rel="stylesheet" href="../chartist/dist/chartist.min.css">
  <link rel="stylesheet" href="../css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <script src="../js/jquery-3.2.1.min.js"></script>
  <script src="../js/bootstrap/bootstrap.min.js"></script>
  <script src="./../js/newSurvey.js"></script>



  <title>ATI - New Survey</title>
  <link rel="stylesheet" href="../css/user.css">



</head>

<body>
  <section id="header">
    <!--<header>
      <%- include ./partials/header %>
    </header>-->

  </section>

  <section class="content">
    <div class="container">
      <div class="nested-container">
        <form class="" action="db/newSurvey" method="post">

          <h2>Your new survey</h2>
          <div class="clearfix">

            <div class="float-left">
              <p>
                <span class="grey text-item-descr">Survey Name</span>
                <input type="text" name="surveyName" value="" autofocus="true">
              </p>
            </div>
          </div>
          <div class="clearfix">

            <div class="float-left">
              <span class="grey text-item-descr">Link</span>
            </div>
            <div class="float-left">
              <input id="surveyLink" type="url" name="surveyLink" value="https://ATI.coashdsa/918263" readonly><button type="button" id="copyUrlBtn">Copy</button>
              <br>
            </div>
          </div>
          <hr>

          <h2>Data to be collected</h2>
          <label><span class="text-item-descr">Affinity for Technology-Interaction&nbsp;</span><input type="checkbox" name="age" value="" checked disabled></label>
          <br>
          <label><span class="text-item-descr">Age </span><input type="checkbox" name="age" value=""></label>
          <br>
          <label><span class="text-item-descr">Sex </span><input type="checkbox" name="sex" value=""></label>
          <br>
          <label><span class="text-item-descr">Education </span><input type="checkbox" name="education" value=""></label>
          <hr>

          <h2>Invite Participants</h2>
          <div class="clearfix flex-row" style="flex-wrap:wrap">
            <div class="float-left grey text-item-descr" style="flex-basis:150px;">
              <span class="">Cover Letter</span>
            </div>
            <div class="" style="width:100%">
              <textarea id="coverLetter" rows="5" placeholder="This is the text you will send with the email." style="width:100%; min-width:200px;"></textarea>
            </div>
          </div>

          <div id="mailingList" class="">

            <div id="inviteField" class="">
              <div class="float-left">
                <span class="grey text-item-descr">Addresses</span>
              </div>
              <form class="" action="index.html" method="post">
                <input type="email" multiple name="mailAddress" value="" style="width:100%-300px" id="mailAddress">
                <!-- TODO: get glyphicons to work  -->
                <button type="button" name="invite" id="addMail"><span class="glyphicons glyphicons-user-add">add</span></button>
              </form>
            </div>
            <div id="mailsOverview" class="">
              <div id="emailList" class="list-group">
                <button type="button" class="list-group-item list-group-item-action rm-on-click">Cras justo odio</button>
                <button type="button" class="list-group-item list-group-item-action rm-on-click">Dapibus ac facilisis in</button>
                <button type="button" class="list-group-item list-group-item-action rm-on-click">Morbi leo risus</button>
                <button type="button" class="list-group-item list-group-item-action rm-on-click">Porta ac consectetur ac</button>
                <button type="button" class="list-group-item list-group-item-action rm-on-click">Vestibulum at eros</button>
              </div>

            </div>
          </div>

          <div id="controls" class="" style="padding-top30px;">

            <button type="button" name="abort" class="float-left">abort</button>
            <button type="submit" name="submit" class="float-right">submit</button>
          </div>
        </form>


      </div>
    </div>


  </section>
  <footer>
    <%- include ./partials/footer %>
  </footer>

  <div id="invisibleVariableHolder">

  </div>
</body>
