<!--<%- include ./partials/head %>-->

<head lang="en">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">

  <link rel="stylesheet" href="/chartist/dist/chartist.min.css">
  <link rel="stylesheet" href="/css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
  <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap/bootstrap.min.js"></script>
  <script src="/js/newSurvey.js"></script>



  <title>ATI - New Survey</title>
  <link rel="stylesheet" href="/css/user.css">



</head>

<body>
  <section id="header">
    <nav class="navbar navbar-default navbar-noMargin" style="padding-right:1%">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
          <a class="navbar-brand" href="/">ATI</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li>
              <a>
                New Survey
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/user"><span class="glyphicon glyphicon-user"></span> Profil</a>
            </li>
            <li>
              <a href="/login"><span class="glyphicon "></span> Log Out </a>
            </li>
            <li class="">
              <!-- class="imgLangSmall li-header-right" style="margin-right: -5%"> -->
              <a href="" onclick="changeLang()"> <img src="/images/lang_de_en.png" class="" style="max-width:35px;max-height:35px;"> <%= __('toggletext') %></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </section>


  <section class="content">
    <div class="container">
      <div class="nested-container">
        <form class="" action="http://87.146.242.114:3000/db/survey" method="post">

          <div class="clearfix">

            <div class="float-left">
              <p>
                <span class="grey text-item-descr">Survey Name</span>
                <input id="surveyName" type="text" name="Name" value="" autofocus="true">
              </p>
            </div>
          </div>

          <div class="clearfix">

            <div class="float-left">
              <span class="grey text-item-descr">Link</span>
            </div>

            <div class="float-left inline">
              <input id="surveyLink" type="url" name="surveyLink" value="https://ATI.coashdsa/918263" readonly><button type="button" id="copyUrlBtn">Copy</button>
              <br>
            </div>

          </div>

          <div class="clearfix">
            <p>
              <span class="text-item-descr grey">Begin </span>
              <input id="begin" type="date" name="Begin" value="">
            </p>

            <p>
              <span class="text-item-descr grey">End (optional)</span>
              <input id="end" type="date" name="End" value="">
            </p>
          </div>

          <div class="">
            <p>
              <span class="grey text-item-descr">limit participation</span>
              <input id="enableMaxProbands" type="checkbox" name="enableMaxProbands" value="">
            </p>
          </div>

          <div class="">
            <p>
              <span class="grey text-item-descr">Maximum Participants</span>
              <input id="MaxProbands" type="number" name="MaxProbands" value="" min="0">
            </p>
          </div>

          <div class="">
            <div class="">
              <span class="text-item-descr grey">Description</span>
            </div>
            <div class="">
              <textarea id="description" rows="5" placeholder="A short description of the study" style="width:100%; min-width:200px;"></textarea>
            </div>
          </div>

          <hr>

          <h2>Data to be collected</h2>
          <label><span class="text-item-descr">Affinity for Technology-Interaction&nbsp;</span><input type="checkbox" name="age" value="" checked disabled></label>
          <br>
          <label><span class="text-item-descr">Age </span><input id="takeAge" type="checkbox" name="takeAge" value=""></label>
          <br>
          <label><span class="text-item-descr">Sex </span><input id="takeSex" type="checkbox" name="takeSex" value=""></label>
          <br>
          <label><span class="text-item-descr">Education </span><input id="takeEducation" type="checkbox" name="takeEducation" value=""></label>
          <hr>

          <h2>Invite Participants</h2>
          <div class="clearfix flex-row" style="flex-wrap:wrap">
            <div class="float-left grey text-item-descr" style="flex-basis:150px;">
              <span class="">Cover Letter</span>
            </div>
            <div class="" style="width:100%">
              <textarea id="coverLetter" rows="5" placeholder="This is the text you will send with the email." style="width:100%; min-width:200px;"></textarea>
            </div>
          </div>
          <br>
          <div id="mailingList" class="">

            <div id="inviteField" class="">
              <div class="float-left">
                <span class="grey text-item-descr">Addresses</span>
              </div>

              <input id="mailAddress" type="email" multiple name="mailAddress" value="" style="width:100%" placeholder="separate multiple entries with a &quot;,&quot;">
              <!-- TODO: get glyphicons to work  -->
              <button type="button" name="invite" id="addMail"><span class="glyphicons glyphicons-user-add">add</span></button>

            </div>
            <br>
            <div id="mailsOverview" class="">
              <div id="emailList" class="list-group">
                <a class="list-group-item list-group-item-action clearfix">Cras justo odio <button type="button" name="button" class="rm-on-click  pull-right"><span class="glyphicons glyphicons-delete">remove</span></button></a>
                <a class="list-group-item list-group-item-action clearfix">Dapibus ac facilisis in<button type="button" name="button" class="rm-on-click pull-right"><span class="glyphicons glyphicons-delete">remove</span></button></a>
                <a class="list-group-item list-group-item-action clearfix">Morbi leo risus<button type="button" name="button" class="rm-on-click pull-right"><span class="glyphicons glyphicons-delete">remove</span></button></a>
                <a class="list-group-item list-group-item-action clearfix">Porta ac consectetur ac<button type="button" name="button" class="rm-on-click pull-right"><span class="glyphicons glyphicons-delete">remove</span></button></a>
                <a class="list-group-item list-group-item-action clearfix">Vestibulum at eros<button type="button" name="button" class="rm-on-click pull-right"><span class="glyphicons glyphicons-delete">remove</span></button></a>
              </div>

            </div>
          </div>

          <div id="controls" class="" style="padding-top30px;">

            <button type="button" name="abort" class="float-left">Abort</button>
            <button id="submit" type="button" name="submit" class="float-right">Create Survey</button>
          </div>
        </form>


      </div>
    </div>


  </section>
  <footer>
    <%- include ./partials/footer %>
  </footer>

  <div id="invisibleVariableHolder">

  </div>
</body>
