<head>
  <%- include ./partials/head %>
    <title>User</title>
</head>

<body>
  <header>
    <%- include ./partials/header %>
  </header>
  <div >
    <table id = "userDataTable">
      <tr>
        <td>Name:</td>
        <td>DummyName</td>
        <td>edit</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>dummy@dummymail.com</td>
        <td>edit</td>
      </tr>
      <tr>
        <td>Password:</td>
        <td>####</td>
        <td>edit</td>
      </tr>
    </table>

  </div>


  <footer>
    <%- include ./partials/footer %>
  </footer>
</body>
